

package ui

import (
    "booking-api/data/response"
    
)

templ InquiryWidget(inquiries []response.EntityBookingPermissionResponse) {

   <div id="arrival_widget" class="card  bg-gray-200 border-2 border-zinc-500 p-4 text-xs font-normal max-w-72">
        
        <div class="card-header">
           
          <span class=" card-title">Inquiries</span>
        </div>
        <div class="">
          list here
        </div>


				 
    </div>
}

