package home

import (
    "booking-api/view/layout"

)


// RentalInformationResponse renders a page with detailed information about a specific rental
templ CreateRental() {
    @layout.App(true) {
        <div class="w-full max-w-screen-xl mx-auto py-12">
            <h1 class="text-3xl font-bold text-center mb-8">create rental</h1>
        </div>


    }
	}

